.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;

}

.App.ReactBootStrap.Button{
  color:red;

}
.App-link {
  color: #61dafb;
}

.App.bootstrap_button{
  color:red;

}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.appContentParent
{
  margin-top: -10%;
}

.scenarioTableParent
{
  margin-top: -20%;
  border-radius: 20px;
}

.radioCompParent
{
  margin-top: 10%;
}

.button1
{
  border-radius: 5px;
  padding-left: 30px;
  padding-right: 30px;
  margin: 10px;
  height: 38px;
  border: 2px solid rgb(209,0,47);
  background-color: rgb(209,0,47);
  font-size: 17px;
  color: white;
}
